body {
    background: linear-gradient;
    font-family: Netflix Sans,
        Helvetica Neue,
        Segoe UI,
        Roboto,
        Ubuntu,
        sans-serif;
    box-sizing: border-box;
    margin: 0;
  }
